.spring-warmth-gradient {
  background-image: linear-gradient(
    45deg,
    #a18cd1 0,
    #fbc2eb 99%,
    #fbc2eb 100%
  );
}
.presentation .divider-new:before {
  margin: 0 1.5rem 0 0;
}
.presentation .divider-new:after {
  margin: 0 0 0 1.5rem;
}
.presentation .divider-new:after,
.presentation .divider-new:before {
  content: '';
  flex: 1;
  height: 1px;
  background: #fff;
}
.presentation .divider-new {
  color: #fff;
}
.spacing {
  letter-spacing: 4px;
}
.small-hr {
  width: 10%;
  border-top: 2px dashed #ddd;
}
.deep-grey-text {
  color: #9b9b9b;
}
.living-coral.divider-new:after,
.living-coral.divider-new:before {
  background: #ed9600;
}
.living-coral.divider-new {
  color: #ed9600;
}
.emerald.divider-new:after,
.emerald.divider-new:before {
  background: #00997b;
}
.emerald.divider-new {
  color: #00997b;
}
.cerulean-blue.divider-new:after,
.cerulean-blue.divider-new:before {
  background: #92aad0;
}
.cerulean-blue.divider-new {
  color: #92aad0;
}
.radiant-orchid.divider-new:after,
.radiant-orchid.divider-new:before {
  background: #b067a1;
}
.radiant-orchid.divider-new {
  color: #b067a1;
}
.chili-pepper.divider-new:after,
.chili-pepper.divider-new:before {
  background: #9b1b30;
}
.chili-pepper.divider-new {
  color: #9b1b30;
}
.mimosa.divider-new:after,
.mimosa.divider-new:before {
  background: #f0c05a;
}
.mimosa.divider-new {
  color: #f0c05a;
}
.black-divider.divider-new:before {
  margin: 0 1.5rem 0 0;
}
.black-divider.divider-new:after {
  margin: 0 0 0 1.5rem;
}
.black-divider.divider-new:after,
.black-divider.divider-new:before {
  height: 1px;
  background: #000;
}
.spacing-divider.divider-new:before {
  margin: 0 1.5rem 0 0;
}
.spacing-divider.divider-new:after {
  margin: 0 0 0 0.5rem;
}
.spacing-divider.divider-new:after,
.spacing-divider.divider-new:before {
  height: 1px;
  background: #5a5b9f;
}
.spacing-divider.divider-new {
  color: #5a5b9f;
  letter-spacing: 1rem;
}
.double-divider.divider-new:before {
  margin: 0 1.5rem 0 0;
}
.double-divider.divider-new:after {
  margin: 0 0 0 1rem;
}
.double-divider.divider-new:after,
.double-divider.divider-new:before {
  border-top: 3px double #c6c6c6;
  background: #fff;
}
.double-divider.divider-new {
  letter-spacing: 0.5rem;
}
.dotted-divider.divider-new:before {
  margin: 0 2rem 0 0;
}
.dotted-divider.divider-new:after {
  margin: 0 0 0 1.8rem;
}
.dotted-divider.divider-new:after,
.dotted-divider.divider-new:before {
  border-top: 1px dotted #e34f33;
  background: #fff;
}
.dotted-divider.divider-new {
  letter-spacing: 0.2rem;
  color: #e34f33;
}
.dashed-divider.divider-new:before {
  margin: 0 2.5rem 0 0;
}
.dashed-divider.divider-new:after {
  margin: 0 0 0 0.5rem;
}
.dashed-divider.divider-new:after,
.dashed-divider.divider-new:before {
  border-top: 1px dashed #91b54d;
  background: #fff;
}
.dashed-divider.divider-new {
  letter-spacing: 2rem;
  color: #91b54d;
}
.divider-new.vertical-divider {
  flex-direction: column;
  color: #5cc6c3;
}
.divider-new.vertical-divider:before,
.divider-new.vertical-divider:after {
  height: 10rem;
  width: 1px;
  background: #5cc6c3;
}
.divider-new.vertical-divider:before {
  margin: 0 0 1rem 0;
}
.divider-new.vertical-divider:after {
  margin: 1rem 0 0 0;
}
